#container {
  display: flex;
}

#input-wrapper {
  display: flex;
  position: relative;
}

#input-field {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  padding-right: 25px; /* برای قرار دادن فلش در داخل فیلد */
}

#toggle-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#add-button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

#dropdown-list {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1; /* برای اطمینان از اینکه لیست روی سایر عناصر قرار می گیرد */
}

#dropdown-list li {
  padding: 5px;
  cursor: pointer;
}

#dropdown-list li:hover {
  background-color: #f0f0f0;
}